.option {
  border:1px solid black;
  padding: 5%;
  padding-left: 60%;
  margin:10%;
  margin-bottom:1%;
}



.addButton{
  background-color: #10799f;
  color:white;
  margin: 3% 10% 10% 10%;
  padding:15px;
  border-radius: 5px;
}


.uordered{
  border:1px solid black;
  padding: 5%;
  margin:10%;
  margin-bottom:1%;
  margin-top:1%;
}

.select{
  background-color:white;
}

.deleteButton{
  background-color: red;
  color:white;
  border-radius: 5px;
  padding:5px;
}

.list_uordered{
  text-align: center;
}